{% extends "base.html"%}
{% load django_bootstrap5 %}
{% block title %}Автомобили предприятия {{ enterprise.name }}{% endblock %}
{% block content %}
<h1 class="my-4">Автомобили предприятия {{ enterprise.name }}</h1>
<div class="d-flex justify-content-between mb-3">
    <a class="btn btn-primary" href="{% url 'vehicles_create' %}?enterprise_id={{ enterprise.pk }}">Создать машину</a>
    <div>
        <a class="btn btn-success" href="{% url 'vehicles_export' %}?enterprise_id={{ enterprise.pk }} ">Экспорт CSV</a>
        <a class="btn btn-success" href="{% url 'vehicles_export' %}?enterprise_id={{ enterprise.pk }}&export_format=json">Экспорт JSON</a>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
          <th>Цена</th>
          <th>Год производства</th>
          <th>Пробег</th>
          <th>Описание</th>
          <th>Номер машины</th>
          <th>Бренд</th>
          <th></th>
        </tr>
    </thead>
    <tbody>
        {% for vehicle in vehicles %}
        <tr>
            <td>{{ vehicle.price }}</td>
            <td>{{ vehicle.year_of_manufacture }}</td>
            <td>{{ vehicle.mileage }}</td>
            <td>{{ vehicle.description }} </td>
            <td>{{ vehicle.car_number }}</td>
            <td>{{ vehicle.brand }}</td>
            <td>
                <a href="{% url 'vehicle_detail' pk=vehicle.id%}">Информация</a>
                <br>
                <a href="{% url 'vehicles_update' pk=vehicle.id%}">Изменить</a>
                <br>
                <a href="{% url 'vehicles_delete' pk=vehicle.id%}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}