{% extends "base.html"%}
{% load django_bootstrap5 %}
{% load static %}
{% block title %}Автомобили{% endblock %}
{% block content %}
<h1 class="my-4">Автомобили</h1>

<table class="table table-striped">
    <thead>
        <tr>
          <th>Цена</th>
          <th>Год производства</th>
          <th>Пробег</th>
          <th>Описание</th>
          <th>Номер машины</th>
          <th>Бренд</th>
          <th>Предприятие</th>
          <th>Время покупки</th>
        </tr>
    </thead>
    <tbody>
        {% for vehicle in vehicles %}
        <tr>
            <td>{{ vehicle.price }}</td>
            <td>{{ vehicle.year_of_manufacture }}</td>
            <td>{{ vehicle.mileage }}</td>
            <td>{{ vehicle.description }} </td>
            <td>{{ vehicle.car_number }}</td>
            <td>{{ vehicle.brand }}</td>
            <td>{{vehicle.enterprise}}</td>
            <td>
                {% if vehicle.purchase_datetime %}
                <span class="datetime-field" data-datetime-obj="{{ vehicle.purchase_datetime|date:'c' }}"></span>
                {% else %}
                -
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script src="{% static 'js/formatDatetime.js' %}"></script>
{% endblock %}