{% extends "base.html"%}
{% load django_bootstrap5 %}
{% block title %}Предприятия{% endblock %}
{% block content %}
<h1 class="my-4">Предприятия</h1>

<table class="table table-striped">
    <thead>
        <tr>
          <th>Название</th>
          <th>Город</th>
          <th>Телефон</th>
          <th>emai</th>
          <th>сайт</th>
          <th></th>
        </tr>
    </thead>
    <tbody>
        {% for enterprise in enterprises %}
        <tr>
            <td>{{ enterprise.name }}</td>
            <td>{{ enterprise.city }}</td>
            <td>{{ enterprise.phone }}</td>
            <td>{{ enterprise.email }} </td>
            <td>{{ enterprise.website }}</td>
            <td><a href="{% url 'enterprise_vehicles_list' pk=enterprise.id%}">Машины предприятия</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}