<div class="collapse navbar-collapse" id="navbarToggleExternalContent">
  <ul class="navbar-nav mr-auto">
    {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'enterprises_list' %}">Предприятия</a>
      </li>   
      <li class="nav-item">
        <a class="nav-link" href="{% url 'vehicles_list' %}">Машины</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'report_list' %}">Отчеты</a>
      </li>
    {% endif %}
  </ul>
  {% if user.is_authenticated %}
  <ul class="navbar-nav ms-auto">
    <form method="post" action="{% url 'admin:logout' %}" class="dropdown-item p-0">
      {% csrf_token %}
      <button type="submit" class="btn btn-link text-danger text-decoration-none w-100 text-start p-2 border-0">
        <i class="fas fa-sign-out-alt"></i> Выйти
      </button>
    </form>
  </ul>
  {% endif %}
</div>