{% extends "base.html"%}
{% load django_bootstrap5 %}
{% block title %}Предприятия{% endblock %}
{% block content %}
<h1 class="my-4">Предприятия</h1>
<div class="d-flex justify-content-between mb-3">
    <div>
        <a href="{% url 'enterprises:import' %}" class="btn btn-primary">
            <i class="fas fa-upload"></i> Импорт
        </a>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
          <th>Название</th>
          <th>Город</th>
          <th>Телефон</th>
          <th>Email</th>
          <th>Сайт</th>
          <th></th>
        </tr>
    </thead>
    <tbody>
        {% for enterprise in enterprises %}
        <tr>
            <td>{{ enterprise.name }}</td>
            <td>{{ enterprise.city }}</td>
            <td>{{ enterprise.phone }}</td>
            <td>{{ enterprise.email }} </td>
            <td>{{ enterprise.website }}</td>
            <td>
                <a href="{% url  'vehicles:list' %}?enterprise_id={{ enterprise.id }}">Машины предприятия</a><br>
                <a href="{% url  'enterprises:export' pk=enterprise.id %}">Экспорт CSV</a><br>
                <a href="{% url  'enterprises:export' pk=enterprise.id %}?export_format=json">Экспорт JSON</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "pagination.html" with page=page_obj %}
{% endblock %}